body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.cyber-sec-container {
    background-image: linear-gradient(120deg, #84fab0, #8fd3f4, #ffcc00);
    background-size: 400% 400%;
    color: #103741;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.cyber-sec-title {
    font-size: 5rem;
    color: blue;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
    text-align: center;
    animation: titleAnimation 2s ease infinite;
}

@keyframes titleAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.cyber-sec-text {
    text-align: justify;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
    pointer-events: auto; 
}

.cyber-sec-text p {
    margin-bottom: 1rem;
    font-size: 1.7rem;
    color: #333;
    font-weight: bold;
    text-align: justify;
    line-height: 1.5;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.cyber-sec-content {
    display: flex;
    margin-bottom: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer.cyber-sec-footer {
    margin-top: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 100%;
    text-align: center;
    font-size: 1rem;
    color: #666;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #103741;
    color: #fff;
}

footer.cyber-sec-footer:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}

.cyber-sec-container {
    position: relative;
}

.cyber-sec-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../Data/img/bg6.jpeg');
    background-blend-mode: multiply;
    opacity: 0.2;
}

.cyber-sec-button {
    background-color: blue;
    color: white;
    border: 2px solid blue;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    margin-top: 20px;
    z-index: 1; 
}

.cyber-sec-button:hover {
    background-color: darkblue;
    border-color: darkblue;
}

.cyber-sec-text h2 {
    font-size: 2.5rem;
    color: #103741;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.cyber-sec-text p {
    font-size: 1.5rem;
    color: #555;
}

.cyber-sec-content:last-child .cyber-sec-image-container {
    flex-wrap: wrap;
    justify-content: space-between;
}

.cyber-sec-content:last-child .cyber-sec-image-container img {
    width: calc(25% - 20px);
    height: auto;
    margin: 10px;
}

.cyber-sec-content:last-child .cyber-sec-image-container img:hover {
    transform: scale(1.1);
}